---
layout: 'blog.html'
---

<style>

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1rem;
    }

    p {
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    blockquote {
        font-size: 1.25rem;
        background-color: #f9f9f9;
        color: #2C3E50;
        padding: 1rem;
        border-left: 10px solid green;
        margin: 1.5em 10px;
    }

</style>


{% include "social-buttons.html" %}

<article
        class="text-black container bg-white dark:from-slate-900 dark:to-slate-600 dark:text-white rounded-2xl text-xl">

    <header class="text-center bg-gradient-to-b dark:from-blue-900 dark:to-blue-400 from-blue-100 dark:text-white to-white p-4 my-4 rounded-lg md:text-4xl md:p-8">
        <h1>{{title}}</h1>
    </header>
    <figure class="">
        <img src="{{page.url}}{{image}}" class="w-full 2xl:w-1/2 mx-auto rounded-2xl mb-8">
    </figure>

    <section class="prose dark:prose-dark  leading-relaxed md:leading-loose indent-12 p-8">
        {{content}}
    </section>
</article>