---
layout: 'blog.html'
---

<style>

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1rem;
    }

    p {
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    blockquote {
        font-size: 1.25rem;
        background-color: #f9f9f9;
        color: #2C3E50;
        padding: 1rem;
        border-left: 10px solid green;
        margin: 1.5em 10px;
    }

</style>


<section id="social-media-buttons" class="grid justify-items-end">
    <!-- Social Media Links -->
    <div class="flex space-x-6 mr-8 mt-4 align-middle items-center">
        <a href="https://www.instagram.com/masjubilaciones.cl/" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram text-4xl text-[#C13584]"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=61567884763598" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook text-4xl text-[#1877F2]"></i>
        </a>
        <a href="https://www.youtube.com/@Masjubilaciones" target="_blank" aria-label="YouTube">
            <i class="fab fa-youtube text-4xl text-[#FF0000]"></i>
        </a>
        <a href="https://www.tiktok.com/@masjubilaciones.cl" target="_blank" aria-label="TikTok">
            <i class="fab fa-tiktok text-4xl text-[#000000]"></i>
        </a>
        <a href="https://x.com/masjubilaciones" target="_blank" aria-label="Twitter">
            <i class="fab fa-x-twitter text-4xl text-[#1DA1F2]"></i>
        </a>
        <a href="https://www.linkedin.com/company/masjubilaciones/" target="_blank" aria-label="Linkedin">
            <i class="fab fa-linkedin text-4xl text-[#0A66C2]"></i>
        </a>
    </div>
</section>

<article class="text-black container p-12 lg:px-32 bg-gradient-to-b dark:from-slate-900 dark:to-slate-600 dark:text-white from-white to-slate-100 rounded-2xl text-xl">

    <header class="bg-gradient-to-r dark:from-blue-900 dark:to-blue-400 from-blue-100 dark:text-white to-white p-4 my-4 rounded-lg md:text-4xl md:p-8">
        <h1>{{title}}</h1>
    </header>
    <figure>
        <img src="{{page.url}}{{image}}" class="w-full rounded-2xl mb-8">
    </figure>

    <section class="prose dark:prose-dark  leading-relaxed md:leading-loose indent-12">
        {{content}}
    </section>
</article>