<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title | default: "MasJubilaciones - Asesor Previsional Marcos Aguayo Mas"}}</title>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <meta name="description"
          content="Expertos en asesoría previsional, pensiones y jubilaciones en Chile. Obtén el máximo beneficio de tu pensión con ayuda profesional personalizada.">

    {% assign keywords = metadata.siteMetadata.keywords %}

    <meta property="og:title" content="{{title | default: 'MasJubilaciones - Asesor Previsional Marcos Aguayo Mas'}}">
    <meta property="og:description"
          content="Expertos en asesoría previsional, pensiones y jubilaciones en Chile. Obtén el máximo beneficio de tu pensión con ayuda profesional personalizada.">
    <meta property="og:image" content="/images/logo.png">
    <meta property="og:url" content="{{ page.url | default: site.url }}">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="masjubilaciones.cl">
    <meta property="twitter:url" content="https://masjubilaciones.cl">
    <meta name="twitter:title" content="{{title | default: 'MasJubilaciones - Asesor Previsional Marcos Aguayo Mas'}}">
    <meta name="twitter:description"
          content="Expertos en asesoría previsional, pensiones y jubilaciones en Chile. Obtén el máximo beneficio de tu pensión con ayuda profesional personalizada.">
    <meta name="twitter:image" content="/images/logo.png">

    <meta name="keywords"
          content="{{keywords | join: ', '}}">
    <meta name="author" content="MasJubilaciones">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <meta name="last-modified" content="{{page.date}}">
    <script data-goatcounter="https://masjubilaciones.goatcounter.com/count"
            async src="//gc.zgo.at/count.js"></script>

    <style>

        body {
            background: url('/images/logo-parcial.png') bottom left no-repeat fixed;
            font-family: "IBM Plex Serif", sans-serif !important;
        }

        h1,h2,h3,h4,h5,h6 {
            font-family: "Merriweather Sans", sans-serif !important;
        }

        footer a {
            text-decoration: underline;
        }

    </style>

</head>

<body class="dark:bg-slate-900 text-slate-900 dark:text-slate-100 bg-slate-100">
<a href="#main-content" class="sr-only focus:not-sr-only focus:fixed focus:top-2 focus:left-2 focus:bg-white focus:text-black focus:px-4 focus:py-2 focus:rounded focus:z-50">Saltar al contenido principal</a>

<section class="absolute right-0 top-24 z-50 text-black {{css_dark_mode_text}}">
    {% include "darkmode-switch.html" %}
</section>

<header id="navbar" class="bg-white backdrop-blur-lg  dark:bg-slate-800 text-gray-900
dark:text-gray-100 shadow-md fixed w-full z-50">
    <div class="xl:container mx-auto flex justify-between items-center p-2 md:p-4">
        <div class="flex items-center">
            <a href="/#inicio"><img height="48" src="/images/logo-texto.png" alt="Logo de Más Jubilaciones"
                                    class="h-full max-h-12 md:h-16 mr-2 rounded"></a>
        </div>
        <nav id="main-menu" aria-label="Menú principal">
            <ul class="md:flex space-x-2 lg:space-x-6 hidden text-sm lg:text-lg">
                <li><a href="/#inicio" class="hover:text-[#27AE60] dark:hover:text-[#2ECC71] transition duration-300"><i
                        class="fas fa-home" aria-hidden="true"></i> Inicio</a></li>
                <li><a href="/#blog" class="hover:text-[#27AE60] dark:hover:text-[#2ECC71] transition duration-300"><i
                        class="fas fa-book" aria-hidden="true"></i> Blog</a></li>
                <li><a href="/#servicios"
                       class="hover:text-[#27AE60] dark:hover:text-[#2ECC71] transition duration-300"><i
                        class="fas fa-user" aria-hidden="true"></i> Servicios</a></li>
                <li><a href="/#etica" class="hover:text-[#27AE60] dark:hover:text-[#2ECC71] transition duration-300"><i
                        class="fas fa-info-circle" aria-hidden="true"></i> Ética</a></li>
                <li><a href="/#contacto"
                       class="hover:text-[#27AE60] dark:hover:text-[#2ECC71] transition duration-300"><i
                        class="fas fa-envelope" aria-hidden="true"></i> Contacto</a></li>
            </ul>
        </nav>

        <a href="/#contacto"
           class="text-nowrap hover:shadow-2xl hover:text-white bg-lime-green md:text-2xl text-primary-green px-6 py-2
           rounded-full hover:bg-light-green transition duration-300 shadow-lg
            dark:bg-primary-blue dark:text-white hover:scale-110 hover:shadow-slate-500
            ">Solicite su Asesoría
            <div class="inline-block animate-bounce bg-blue-600 dark:bg-primary-green text-white p-2 font-bold rounded-full">
                aquí
            </div>
        </a>

    </div>
</header>

<main id="main-content" class="pt-20 ">
    {{ content }}
    {% if page.url == '/' %}
    {% include "contact.html" %}
    {% endif %}
</main>
<footer class="bg-opacity-80 bg-dark-green text-white py-12">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
            <div class="flex flex-col gap-4">
                <p>
                    <span class=" font-semibold mb-4">MasJubilaciones</span> está representado por
                    don
                    <span class="font-bold">Marcos Aguayo Mas</span>,
                    <a href="https://www.spensiones.cl/apps/consultaRAP/AsesoresVigentes" target="_blank" rel="noopener noreferrer">
                        acreditado por la Superintendencia de Pensiones con Registro 115.
                    </a>
                </p>
                <p class="text-gray-300">
                    En <span class=" font-semibold mb-4">MasJubilaciones</span>, nos dedicamos a brindar asesoría
                    previsional independiente, ayudándole a tomar las mejores decisiones para su futuro.
                    Con más de 30 años de experiencia en el mercado, nuestro
                    compromiso es ofrecer un servicio personalizado y de calidad.
                    Como miembros de
                    <a class="font-bold italic" title="Asociación Gremial de Asesores Previsionales de Chile"
                       href="https://www.agap.cl/" target="_blank" rel="noopener noreferrer">AGAP</a>,
                    garantizamos asesoría ética, profesional y acreditada en todo momento.
                </p>
            </div>
            <div>
                <h3 class="text-xl font-semibold mb-4">Enlaces Rápidos</h3>
                <ul class="space-y-2 md:text-lg md:list-disc">
                    <li><a href="/#inicio" class="text-gray-300 hover:text-white transition duration-300">Inicio</a>
                    </li>
                    <li><a href="/#servicios"
                           class="text-gray-300 hover:text-white transition duration-300">Servicios</a></li>
                    <li><a href="/#sobre-nosotros" class="text-gray-300 hover:text-white transition duration-300">Sobre
                        Nosotros</a></li>
                    <li><a href="/#contacto" class="text-gray-300 hover:text-white transition duration-300">Contacto</a>
                    </li>
                    <li><a href="https://www.spensiones.cl" target="_blank" rel="noopener noreferrer"
                           class="text-gray-300 hover:text-white transition duration-300">Superintendencia de
                        Pensiones</a></li>
                    <li><a title="Asociación Gremial de Asesores Previsionales de Chile" href="https://www.agap.cl/" target="_blank" rel="noopener noreferrer">AGAP</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="text-xl font-semibold mb-4">Contáctanos</h3>
                <ul class="space-y-2 text-gray-300 text-lg">
                    <li>San Martín 553, Oficina 302</li>
                    <li>Concepción, Región del Biobío, Chile.</li>
                    <li>Email: contacto@masjubilaciones.cl</li>
                    <li>Teléfono: +56 9 9346 7163</li>
                </ul>
            </div>
        </div>
        <div class="mt-12 pt-8 border-t border-gray-700 text-center">
            <p class="text-gray-300">&copy; 2024 MasJubilaciones. Todos los derechos reservados.
                <br><span class="text-white font-mono">Web por <a href="https://www.softwarebiobio.com/" target="_blank" rel="noopener noreferrer">softwarebiobio.com</a></span>
            </p>
        </div>
    </div>
</footer>
<a href="https://wa.me/56993467163?text=Hola%2C%20escribo%20desde%20Masjubilaciones.cl%20y%20quisiera%20una%20asesor%C3%ADa%0A" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888; z-index:1000;" target="_blank" rel="noopener noreferrer" aria-label="Abrir chat de WhatsApp" title="Abrir chat de WhatsApp"><i style="margin-top:16px" class="fab fa-whatsapp" aria-hidden="true"></i></a>
</body>
</html>
