<section id="contacto" class="container bg-gradient-to-b from-white dark:from-slate-700  mx-auto md:p-20 text-gray-900 dark:text-gray-100">
    <h1 class="text-4xl font-bold text-center mt-8 mb-16 text-[#2C3E50] dark:text-white">Contáctenos:</h1>

    <div class="flex flex-col md:flex-row justify-center items-center mb-16 gap-4">

        <div class="w-full md:w-1/2 text-2xl text-center md:text-left mt-8 md:mt-0 space-y-8">
            <p><strong><i class="fas fa-map-marker-alt" aria-hidden="true"></i> Dirección:</strong> San Martín 553
                Oficina 302, Concepción, Región del Biobío</p>
            <p><strong><i class="fas fa-envelope" aria-hidden="true"></i> Email:</strong>
                <a
                        href="mailto:contacto@masjubilaciones.cl"
                        class="text-nowrap text-[#3498DB] hover:text-[#2980B9] dark:text-[#2ECC71] dark:hover:text-[#1ABC9C]">contacto@masjubilaciones.cl</a>
            </p>
            <p><strong><i class="fas fa-mobile-alt" aria-hidden="true"></i> Celular:</strong>
                <span class="text-nowrap">+56 9 9346 7163</span></p>
            <section class="space-y-4">
                {% include "social-buttons.html" %}
            </section>

        </div>


        <div class="w-full md:w-1/2 md:mr-8">
            <p class="italic text-blue-600 dark:text-green-500 my-4 text-2xl">Puede enviarnos un mensaje y nos comunicaremos con usted a la brevedad:</p>
            <form action="/success" method="post" name="contacto-masjubilaciones" netlify
                  class="w-full bg-lime-green dark:bg-gray-700 p-8  shadow-2xl hover:shadow-lg transition duration-500">
                <div class="mb-6">
                    <label for="name" class="block text-left text-lg mb-2">Indíquenos su Nombre:</label>
                    <input type="text" id="name" name="name" placeholder="Indíquenos aquí su nombre."
                           class="w-full  text-black p-3 border border-gray-300 dark:border-gray-600  focus:outline-none focus:border-[#27AE60] dark:focus:border-[#2ECC71]"
                           required>
                </div>
                <div class="mb-6">
                    <label for="phone" class="block text-left text-lg mb-2">Su Teléfono:</label>
                    <input type="phone" id="phone" name="phone"
                           placeholder="Algún teléfono donde contactarle, suyo o de algún familiar"
                           class="w-full  text-black p-3 border border-gray-300 dark:border-gray-600  focus:outline-none focus:border-[#27AE60] dark:focus:border-[#2ECC71]"
                           required>
                </div>
                <div class="mb-6">
                    <label for="message" class="block text-left text-lg mb-2">Escríbanos aquí su Mensaje:</label>
                    <textarea id="message" name="message"
                              placeholder="Escriba aquí su consulta. Le responderemos usando los datos que ha proporcionado anteriormente."
                              class="w-full text-black p-3 border border-gray-300 dark:border-gray-600  focus:outline-none focus:border-[#27AE60] dark:focus:border-[#2ECC71]"
                              required></textarea>
                </div>
                <div class="text-right">
                    <button type="submit"
                            class="w-full bg-blue-600 hover:translate-x-2 text-white text-2xl py-3 px-5 hover:rounded-r-xl transition-all duration-500 shadow-md hover:shadow-xl">
                        <i class="fas fa-paper-plane"></i> Enviar mensaje
                    </button>
                </div>
            </form>
        </div>


    </div>

    <!-- Mapa debajo del formulario e información de contacto -->
    <div class="w-full">
        <img class="w-full h-full max-h-96  shadow-2xl border-0 object-cover object-center"
             alt="Imagen con Mapa ubicando la oficina de Masjubilaciones"
             src="/images/map.png"
        >
    </div>
</section>