<!-- Social Media Links -->

<p class="text-slate-500 text-center text-sm">Encuéntrenos también en redes sociales:</p>
<div class="flex align-middle justify-evenly items-center">
    <a href="https://www.instagram.com/masjubilaciones.cl/" target="_blank" rel="noopener noreferrer" aria-label="Instagram" class="focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-600 focus-visible:rounded">
        <i class="fab fa-instagram text-xl md:text-2xl text-[#C13584]"></i>
    </a>
    <a href="https://www.facebook.com/profile.php?id=61567884763598" target="_blank" rel="noopener noreferrer" aria-label="Facebook" class="focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-600 focus-visible:rounded">
        <i class="fab fa-facebook text-xl md:text-2xl text-[#1877F2]"></i>
    </a>
    <a href="https://www.youtube.com/@Masjubilaciones" target="_blank" rel="noopener noreferrer" aria-label="YouTube" class="focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-600 focus-visible:rounded">
        <i class="fab fa-youtube text-xl md:text-2xl text-[#FF0000]"></i>
    </a>
    <a href="https://www.tiktok.com/@masjubilaciones.cl" target="_blank" rel="noopener noreferrer" aria-label="TikTok" class="focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-600 focus-visible:rounded">
        <i class="fab fa-tiktok text-xl md:text-2xl dark:text-white text-[#000000]"></i>
    </a>
    <a href="https://x.com/masjubilaciones" target="_blank" rel="noopener noreferrer" aria-label="Twitter" class="focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-600 focus-visible:rounded">
        <i class="fab fa-x-twitter text-xl md:text-2xl text-[#1DA1F2]"></i>
    </a>
    <a href="https://www.linkedin.com/company/masjubilaciones/" target="_blank" rel="noopener noreferrer" aria-label="Linkedin" class="focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-600 focus-visible:rounded">
        <i class="fab fa-linkedin text-xl md:text-2xl text-[#0A66C2]"></i>
    </a>
</div>
