.home-carousel {
  background: url('../images/02.jpg') center center no-repeat;
  background-size: cover;
}

.home-carousel .dark-mask {
    background: #063;
}

.navbar-brand {
    height:auto;
}

.navbar-brand img {
    max-height:100px
}


.home-carousel {
  background: url("../images/02.jpg") center center repeat;
  background-size: cover;
}

.home-carousel .dark-mask {
    background: #063;
}

.navbar-brand {
    height:auto;
}

.navbar-brand img {
    max-height:100px
}

.affix img {
    background: url(../images/logo.jpg) center no-repeat;     
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    width: 166px; /* Width of new image */
    height: 42px; /* Height of new image */
    padding-left: 180px; /* Equal to width of new image */
}