.home-carousel {
  background: url('/images/02.jpg') center center repeat !important;
}

.home-carousel .dark-mask {
    background: #063;
}

.navbar-brand {
    height:auto;
}

.navbar-brand img {
    max-height:100px
}
