<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

        {{ partial "carousel.html" . }}



        <div class="container">

          <div class="row">
              <h1 class="page-header">Respecto al tercer retiro del 10% desde la AFP, <small>Mayo, 2021</small></h1>
              <img class="img-responsive img-rounded" src="images/Captura_de_Pantalla_2021-05-01_a_la_s__16.28.01.png" alt="Imagen explicativa acerca del tercer retiro del 10% desde la AFP" />
      
          </div>
      
      
      </div>


        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
